[Unit]
Description=IP Webcam via USB tethering
After=network.target systemd-networkd.service

[Service]
ExecStart=/home/krios2146/.config/scripts/webcam-setup.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
